{{ define "main" }}

<section class="site-services details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-services-details">
          <h2 class="services-title">{{ .Title }}</h2>
          <img class="feature-image" src="{{ .Params.feature_image | absURL }}" alt="services-feature-image">
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}
