//site color variables
$body-color: #fff;
// $primary-color: #EAA4A4;
// $secondary-color: #ADD6D2;
$primary-color: #BE8553;
$secondary-color: #4A5658;
$text-color: #9D9EA5;
$text-color-dark: #1D2223;
// $text-color: #9D9EA5;
// $text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #EFEDE9;
$dark-gray: #D8D4C9;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
